# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# Trained model files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/